.error-field-name{
    color: red;
}

.error-field-surname{
    color: red;
}

.error-field-password{
    color: red;
}

.error-field-city{
    color: red;
}

.error-field-course{
    color: red;

}

.error-field-password-confirm{
    color: red;
}